@import "tailwindcss";

:root {
  --background: #ffffff;
  --background2: #dbdbdb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background2: #2c2c2c;
  }
}

@theme {
  --color-background: var(--background);
  --color-background2: var(--background2);
  --color-foreground: var(--foreground);
  --color-primary: #fbf6e9;
  --color-secondary: #e3f0af;
  --color-third: #5db996;
  --color-accent: #118b50;
  --shadow-standard: 0 0 7px rgba(0, 0, 0, 0.2);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
